<script src="https://kit.fontawesome.com/75cf4e84e0.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/footer.css">

<div class="footer">
    <div class="name_n_links">
        <p><i class="far fa-copyright"></i> Jaiswal Studio Work</p>

        <% if(locals.user){ %> 
            <div class="related_links">
                    <a href="/user/home">Home</a>
                    <a href="/user/profile/<%= user.id %>">Profile</a>
            </div>
        <% } %>
    </div>
    
    <div class="developer_info">
        <p>Developed By:</p>
        <a href="https://www.linkedin.com/in/divyanshjaiswal/" target="_blank">Divyansh Jaiswal</a>
    </div>
</div>

<!-- <div class="footer">
    <p><i class="far fa-copyright"></i> Jaiswal Studio Work</p>

    <div class="related_links">
        <% if(locals.user){ %> 
            <a href="/user/home">Home</a>
            <a href="/user/profile/<%= user.id %>">Profile</a>
        <% } %>
    </div>
</div> -->