<script src="https://kit.fontawesome.com/75cf4e84e0.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/header.css">

<div class="header">
    <div class="name_n_logo">
        <i class="fas fa-clipboard-list fa-3x logo"></i>
        <p class="name"><a href="/">Tasky</a></p>
    </div>

    <nav>
        <ul>
            <% if(locals.user){ %> 
                <li>
                    <a href="/user/profile/<%= user.id %>" style="color: white;"> <%= user.fname %> </a>
                </li>
                <li>
                    <a href="/user/sign-out"> Log Out </a>
                </li>    
            <% } %>
        </ul>
    </nav>
</div>