<link rel="stylesheet" href="/css/forget_pass.css">
<h2>Forget Password</h2>
<hr>
<form action="/password/generate-new" method="POST">
    <h3>Email:</h3>
    <input type="email" name="email" placeholder="johnSmith@gmail.com" required>
    <br>
    <input type="submit" value="Reset Password" id="btn">
</form>