<link rel="stylesheet" href="/css/forget_pass.css">
<h1 id="heading">Forget Password</h1>

<form action="/password/generate-new" method="POST">
    <span class="label">Email: </span>
    <input type="email" name="email" placeholder="johnSmith@gmail.com">
    <br>
    <input type="submit" value="Reset Password" id="btn">
</form>
