<link rel="stylesheet" href="/css/reset_pass.css">
<h2>Reset Password</h2>
<hr>
<form action="/password/update/<%= token %>" method="POST">
    <h3>New Password:</h3>
    <input type="password" name="new_password"required>
    <br>
    <h3>Confirm Password:</h3>
    <input type="password" name="confirm_new_password"required>
    <br>
    <input type="submit" value="Update Password" id="btn">
</form>