<link rel="stylesheet" href="/css/sign_up_page.css">

<div id="form_box">
    <h2 class="form_head">Let's Get Started</h2>
    <form action="/user/create" method="POST">
        <input type="text" placeholder="first name" name="fname" required>
        <br>
        <input type="text" placeholder="last name" name="lname" required>
        <br>
        <input type="email" placeholder="email" name="email" required>
        <br>
        <input type="password" placeholder="password" name="password" required>
        <br>
        <input type="password" placeholder="confirm password" name="confirm_password" required>
        <br>
        <input type="submit" value="Sign Up" class="btn">
    </form>
</div>