.footer{
    height: auto;
    width: 100%;
    background: linear-gradient(37deg, #100f0f, #8a8585);
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
        color: white;
        font-size: 1.25rem;
    }

    a{
        text-decoration: none;
        color: white;
        font-size: 1.25rem;
    }

    .name_n_links{
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        width: 12rem; 
        margin-left: 1%;

        .related_links{
            display: flex;
            flex-direction: column;
        }
    }

    .developer_info{
        margin-right: 0.5%;

        p{
            margin: 0% 0% -0.5% 0%;
        }
    }
}