#form_box{
    height: auto;
    width: 20rem;
    position: relative;
    margin: 4% 0 4.5% 38%;
    border: 1px solid black;
    border-radius: 15px;

    .form_head{
        text-align: center;
    }
    
    form{
        margin: 2%;
    }
    
    input[type="email"] {
        font-size: 1.5rem;
    }
    
    input[type="password"] {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    
    input[type=email], input[type=password]{
        outline: none;
        border: 1px solid #DDDDDD;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
    }
    
    input[type=email]:focus, input[type=password]:focus{
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        border: 1px solid rgba(81, 203, 238, 1);
    }
    
    .forget_link {
        margin: 0 0 0 60%;
        line-height: 2;
    }
    
    .forget_link a {
        text-decoration: none;
        color: cornflowerblue;
    }
    
    .btn {
        font-size: 1.25rem;
        border-radius: 10px;
        border: none;
        outline: none;
        background: cornflowerblue;
        color: white;
        padding: 0.6rem;
        margin-left: 38%;
    }
}

.slant{
    text-align: center;
    font-size: 1.25rem;
    font-style: oblique;
}

.gLink{
    height: 3rem;
    margin: 2% 20%;
    background-color: red;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    a{
        text-decoration: none;
        color: white;
    }
}

.sign_up_link{
    font-size: 1rem;
    font-style: normal;
    margin: 10% 0 5% 40%;

    a{
        text-decoration: none;
        color: cornflowerblue;
    }
}