#heading{
    text-align: center;
}

form{
    .label{
        margin-left: 35%;
        font-size: 1.5rem;
    }

    input{
        font-size: 1.25rem;
    }

    .left_margin{
        margin-left: 2.6%;
    }

    .top_margin{
        margin-top: 10px;
    }

    #btn{
        margin-left: 47%;
        margin-top: 15px;
        font-size: 1.5rem;
        background: transparent;
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
    }
}