#heading{
    text-align: center;
}

form{
    margin-bottom: 11%;

    .label{
        margin-left: 28%;
        font-size: 1.5rem;
    }

    input{
        font-size: 1.25rem;
        border: none;
        border-bottom: 0.5px solid black;
    }

    .left_margin{
        margin-left: 3%;
    }

    .top_margin{
        margin-top: 10px;
    }

    .pass{
        margin-left: 0.5%;
    }

    .cfm_pass{
        margin-left: 36.25%;
    }

    #btn{
        margin-left: 46%;
        margin-top: 15px;
        font-size: 1.5rem;
        background: transparent;
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
    }

    .google_btn{
        background-color: red;
        text-align: center;
        border-radius: 15px;
        height: 2rem;
        width: 16rem;
        font-size: 1.5rem;
        padding: 1rem;
        margin: 1% 0 0 40%;
    
        a{
            text-decoration: none;
            color: white;
        }
    }
}

