#heading {
  text-align: center; }

form {
  margin-bottom: 11%; }
  form .label {
    margin-left: 28%;
    font-size: 1.5rem; }
  form input {
    font-size: 1.25rem;
    border: none;
    border-bottom: 0.5px solid black; }
  form .left_margin {
    margin-left: 3%; }
  form .top_margin {
    margin-top: 10px; }
  form .pass {
    margin-left: 0.5%; }
  form .cfm_pass {
    margin-left: 36.25%; }
  form #btn {
    margin-left: 46%;
    margin-top: 15px;
    font-size: 1.5rem;
    background: transparent;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px; }
  form .google_btn {
    background-color: red;
    text-align: center;
    border-radius: 15px;
    height: 2rem;
    width: 16rem;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1% 0 0 40%; }
    form .google_btn a {
      text-decoration: none;
      color: white; }
